@charset "utf-8";

 /* 부드러운 나타남 효과 */
 @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-element {
    font-size: 48px;
    color: #2a9d8f;
    animation: fadeIn 1s ease-out;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4a261;
}